<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TActivityCommentMapper">

    <resultMap type="com.ruoyi.system.domain.TActivityComment" id="TActivityCommentResult">
        <result property="id" column="id"/>
        <result property="comment" column="comment"/>
        <result property="starLv" column="star_lv"/>
        <result property="rId" column="r_id"/>
        <result property="pId" column="p_id"/>
        <result property="createTime" column="create_time"/>
        <result property="userId" column="user_id"/>
        <result property="activityId" column="activity_id"/>
        <result property="showFlag" column="show_flag"/>
        <result property="repliedId" column="replied_id"/>
    </resultMap>


</mapper>