<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TActivityDataMapper">

    <resultMap type="com.ruoyi.system.domain.TActivityData" id="TActivityDataResult">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="money" column="money"/>
        <result property="maxPeople" column="max_people"/>
        <result property="sponsorPhone" column="sponsor_phone"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="specFlag" column="spec_flag"/>
        <result property="dateFlag" column="date_flag"/>
        <result property="browseNum" column="browse_num"/>
        <result property="alreadyPeople" column="already_people"/>
        <result property="isRecommend" column="is_recommend"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="address" column="address"/>
    </resultMap>

    <select id="selectByType" resultMap="TActivityDataResult">
        select * from t_activity_data where type = #{id} order by create_time desc limit #{page}, #{size}
    </select>
</mapper>