<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TOrderMapper">

    <resultMap type="com.ruoyi.system.domain.TOrder" id="TOrderResult">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="orderTitle" column="order_title"/>
        <result property="takeTime" column="take_time"/>
        <result property="orderSpec" column="order_spec"/>
        <result property="peopleNum" column="people_num"/>
        <result property="orderMoney" column="order_money"/>
        <result property="address" column="address"/>
        <result property="unitMoney" column="unit_money"/>
        <result property="orderStatus" column="order_status"/>
        <result property="payId" column="pay_id"/>
        <result property="payTime" column="pay_time"/>
        <result property="payType" column="pay_type"/>
    </resultMap>


</mapper>